@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #f2f2f2;
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  height: 100%;
  min-width: 1200px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* стилизация страницы */

.navigation {
  display: flex;
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 168px;
  list-style-type: none;
  width: 560px;
  text-transform: capitalize;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  opacity: 0.8;
}

.navigation-link-current::before {
  content: "";
  height: 2px;
  position: absolute;
  background-color: #756257;
  left: 16px;
  right: 16px;
  bottom: 0;
}

.navigation-user {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
}

.navigation-user .navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user .navigation-item:last-child{
  margin-left: 18px;
}

.link-icon {
  padding: 22px 12px;
}

.link-icon:hover,
.link-icon:focus {
  color: #756157;
}

.link-icon:active {
  opacity: 0.8;
}

.navigation-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  right: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  width: 20px;
  height: 20px;
  background: #7db54f;
  border-radius: 50%;
  color: #ffffff;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 8px 50px;
  border: transparent;
  cursor: pointer;
}

.button:disabled .button:not(.button-reset) {
  background-color: #e5e5e5;
  cursor: default;
}

.button-brown {
  background-color: #756157;
  padding: 8px 35px;
  display: block;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {
  flex-grow: 1;
}

.main-welcome {
  color: #000000;
  background-color: #83b3d31f;
  background-image: url(../images/border-bottom.svg),
    url(../images/background.jpg);
  min-height: 485px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px;
}

.main-title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.main-subtitle {
  color: #333333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.main-top {
  padding: 69px 274px 90px;
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adventages-item-wide{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.adventages-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: auto;
  margin-top: auto;
  padding: 88px 85px;
  width: 400px;
  text-align: center;
  min-height: 385px;
}

.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  position: relative;
}

.advantages-title-line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 30%;
  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);
}

.adventages-subtitle {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 61px;
}

.white-text {
  color: #ffffff;
}

.image-city {
  display: block;
}

.dark-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.light-blue {
  background-color: #83b3d31f;
}

.blue {
  background-color: #83b3d333;
}

.main-bottom {
  padding: 64px 347px;
}

.title {
  margin-bottom: 19px;
}

.relax-subtitle {
  margin-top: 30px;
}

.adventages-item-relax {
  padding: 80px 85px;
  width: 400px;
  text-align: center;
}

.advantages-title-relax {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 102px;
}

.home {
  background-image: url(../images/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.eat {
  background-image: url(../images/icon-eat.svg);
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.present {
  background-image: url(../images/icon-present.svg);
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.search {
  text-align: center;
  padding: 99px 304px 96px;
}

.button-search {
  display: block;
  padding: 8px 50px;
  margin-top: 54px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  min-width: 376px;
  min-height: 52px;
}

.button-font {
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #83b3d31f;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
}

.subscribe-form label:not(:last-child) {
  margin-bottom: 15px;
}

.subscribe-form label {
  display: flex;
  border-top-right-radius: 4px;
}

.subscribe-form input {
  font-family: inherit;
  min-width: 452px;
  min-height: 28px;
  padding: 12px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-form .button {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-height: 52px;
  min-width: 232px;
}

.button-dark-blue {
  background-color: #82b3d3;
}

.button-dark-blue:hover {
  background-color: #68a2ca;
}

.button-dark-blue:focus {
  background-color: #68a2ca;
}

.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 160px;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  padding: 10px;
}

.footer-social-item:nth-child(2) {
  margin-left: 5px;
}

.button-social {
  color: #82b3d3;
}

.button-social:hover,
.button-social:focus {
  color: #68a2ca;
}

.button-social:active {
  opacity: 30%;
}

.footer-contacts-address {
  font-style: normal;
  max-width: 720px;
}

.footer-contacts-address:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts-address-phone {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
}

.footer-contacts-address-phone:hover,
.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: #756157;
  opacity: 30%;
}

.footer-link {
  max-width: 120px;
}

.htmlacademy-link {
  color: #000000;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  color: #756157;
}

/* стилизация каталога */

.main-inner-image {
  background-image: url(../images/filter-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-inner-container {
  padding: 35px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.select-group {
  display: flex;
  padding: 50px 70px 0;
  margin-bottom: 40px;
  align-items: center;
}

.select-group .button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  padding: 14px 12px;
  background-position: center;
}

.select-group .button:hover {
  border: 2px solid #000000;
}

.select-group .button-current {
  border: 2px solid #000000;
}

.select-control {
  width: 292px;
  padding: 14px 20px;
  padding-right: 40px;
  margin-left: 200px;
  border: 2px solid #e5e5e5;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  font: inherit;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #000000;
}

.select-title {
  margin: 0;
  text-align: start;
  width: 340px;
}

.button-select {
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-link-current:active {
  color: #ffffff;
  opacity: 30%;
}

.breadcrumbs-link {
  position: relative;
}

.home-icon {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  color: #ffffff;
}

.home-icon:hover,
.home-icon:focus{
  opacity: 0.6;
}

.breadcrumbs-link-current {
  position: relative;
  margin-left: 40px;
}

.breadcrumbs-link-current::before {
  display: block;
  content: "";
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  position: absolute;
  left: -17px;
  top: 7px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 150px;
}

.catalog-filter-group-price {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 300px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.control {
  position: relative;
  display: block;
  margin-bottom: 16px;
  cursor: pointer;
}

.control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url(../images/tick-radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-label {
  color: #ffffff;
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
  line-height: 23px;
  margin-left: 36px;
}

.control:hover .control-mark,
.control:hover .control-label {
  opacity: 0.8;
}

.control:active .control-mark .control:active .control-label {
  opacity: 0.3;
}

.control-input-price {
  width: 143px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: inherit;
  position: relative;
  border: none;
  margin-bottom: 36px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.control-input-prise::-webkit-outer-spin-button,
.control-input-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.border-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 2px;
}

.border-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.checkbox {
  border-radius: 4px;
}

.radio {
  border-radius: 50%;
}

.catalog-price-list {
  display: flex;
  flex-wrap: wrap;
}

.from-before {
  color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  right: 20px;
}

.button-reset {
  background-color: transparent;
}

.button-reset:disabled {
  color: #ffffff;
  opacity: 0.2;
}

.button-reset:not(:last-child) {
  margin-bottom: 40px;
}

.button-reset:hover,
.button-reset:focus {
  opacity: 0.8;
}

.button-reset:active {
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: #ffffff;
  opacity: 0.3;
  margin-bottom: 78px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover,
.range-toggle:focus {
  opacity: 0.8;
}

.toggle-min {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.toggle-max {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.button-submit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 56px;
}

.button-use {
  margin-bottom: 40px;
}
.grid {
  background-image: url(../images/view-table.svg);
  background-repeat: no-repeat;
}

.full-page {
  background-image: url(../images/view-slideshow.svg);
  background-repeat: no-repeat;
}

.row {
  background-image: url(../images/view-row.svg);
  background-repeat: no-repeat;
}

.catalog-card {
  padding: 0 70px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin: 0;
}

.card-info {
  cursor: pointer;
}

.card-image {
  margin-bottom: 16px;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}

.card-subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
}

.card-rating-subtitle {
  width: 140px;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0;
  background-color: #f2f2f2;
  color: #333333;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-link {
  padding: 8px 26px;
  margin-right: 14px;
}

.button-favorites {
  font-family: inherit;
  background-color: #82b3d3;
  padding: 8px 20px;
  margin-bottom: 16px;
}

.green {
  background-color: #7db54f;
  padding: 8px 18px;
}

.green:hover {
  background-color: #6c9e42;
}

.pagination {
  padding: 40px 70px 60px;
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link:not(.pagination-current, .pagination-more):hover,
.pagination-link:not(.pagination-current, .pagination-more):focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: #ffffff;
  opacity: 30%;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  color: #000000;
  background-color: #ffffff;
}

.subscribe-inner {
  padding: 96px 258px 104px;
}

.color-grey {
  background-color: #f2f2f2;
}

/* стилизация модального окна */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  /* opacity: 80%; с этим какой то косяк, когда подключается, то вся модалка становится прозрачной*/
  display: flex;
  width: 100%;
  height: 100%;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 70px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url(../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e6e6e6;
}

.modal-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-bottom: 64px;
}

.modal-subtitle {
  font-size: 20px;
  font-family: inherit;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
  color: #000000;
  width: 130px;
}

.modal-text {
  color: #000000;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  padding-right: 40px;
}

.dates:hover,
.dates:focus {
  background-color: #e6e6e6;
}

.visit-dates {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
}

.modal-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dates {
  display: block;
  width: 440px;
  min-height: 48px;
}

.calendar {
  position: absolute;
  top: 16px;
  right: 20px;
  opacity: 0.3;
  color: #000000;
  cursor: pointer;
}

.calendar:hover,
.calendar:focus {
  color: #000000;
  opacity: 1;
}

.notice {
  color: #ff5757;
}

.invite {
  color: #333333;
}

.notice,
.invite {
  display: block;
  margin-top: 4px;
  margin-bottom: 23px;
  margin-left: 157px;
}

.modal-people-number {
  display: flex;
  justify-content: space-between;
}

.people {
  display: flex;
  align-items: center;
}

.people-number {
  width: 31px;
  padding: 14px 10px;
}

.visit-people-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visit-people {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 23px;
}

.form-lable-icon {
  position: relative;
  padding-right: 26px;
}

.button-tooltip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #83b3d3;
  padding: 0;
}

.button-tooltip:hover,
.button-tooltip:focus {
  color: #68a2ca;
}

.people-number::-webkit-outer-spin-button,
.people-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-button {
  display: block;
  width: 40px;
  padding: 14px 10px;
  cursor: pointer;
  color: #756157;
}

.modal-button:hover,
.modal-button:focus {
  color: #000000;
  background-color: #e6e6e6;
}

.modal-search-button {
  border: none;
}

.modal-search-button:hover,
.modal-search-button:focus {
  background-color: #68a2ca;
}

.tooltip {
  position: absolute;
  margin-left: 10px;
  margin-top: 11px;
}

.tooltip-text {
  position: absolute;
  top: 15px;
  left: -42px;
  background-color: #333333;
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  margin: 0;
  margin-top: 16px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  background-image: url(../images/triangle-tooltip.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 8px;
  bottom: 100%;
  right: 50%;
}

.modal-search-button {
  display: block;
  width: 100%;
  margin-top: 25px;
  min-height: 60px;
}
