@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  background-color: #f2f2f2;
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* стилизация страницы */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 560px;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
}

.navigation-user {
  width: 300px;
  margin-left: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-brown {
  background-color: #756157;
  padding: 8px 34px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-index {
  flex-grow: 1;
}

.main-welcome {
  color: #000000;
  background-color: #83b3d31f;
  background-image: url(../images/border-bottom.svg),
    url(../images/background.jpg);
  height: 485px;
  background-position: center bottom;
  background-repeat: no-repeat;
  text-align: center;
}

.welcome {
  padding-top: 51px;
}

.main-title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.main-subtitle {
  color: #333333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.adventages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.adventages-subtitle {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.white-text{
  color: #ffffff;
}

.advantages-image-top, .advantages-image-bottom{
  background-color: #82b3d3;
}

.dark-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.light-blue {
  background-color: #83b3d31f;
}

.blue {
  background-color: #83b3d333;
}

.relax{
  display: flex;
  justify-content: space-between;
}

.home {
  background-image: url(../images/icon-home.svg);
  background-repeat: no-repeat;
}

.eat {
  background-image: url(../images/icon-eat.svg);
  background-repeat: no-repeat;
}

.present {
  background-image: url(../images/icon-present.svg);
  background-repeat: no-repeat;
}

.search{
  padding: 96px 304px;
}

.button-search {
  padding: 8px 50px;
  border: transparent;
  border-radius: 4px;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #83b3d31f;
  text-align: center;
  padding: 96px 258px 104px;
}

.page-footer{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px;
}

.footer-social-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address-phone {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 40px;
}

/* стилизация каталога */

.main-inner-image {
  background-image: url(../images/filter-photo.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.home-icon {
  background-image: url(../images/home-icon.svg);
  background-repeat: no-repeat;
}

.home-icon::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 10px;
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;
}

.inner-header{
  width: 1060px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  color: #ffffff;
  list-style: none;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list{
  list-style: none;
}

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.grid {
  background-image: url(../images/grid-icon.svg);
  background-repeat: no-repeat;
}

.full-page {
  background-image: url(../images/full-page-icon.svg);
  background-repeat: no-repeat;
}

.row {
  background-image: url(../images/row-icon.svg);
  background-repeat: no-repeat;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.card-subtitle {
  color: #333333;
}

.card-rating-subtitle {
  color: #333333;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-more {
  background-color: #ffffff;
}
